[Unit]
Description=Face ID Recognition System
After=multi-user.target

[Service]
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/daust/.Xauthority
Type=simple
User=daust
ExecStart=/usr/bin/python3 /home/daust/ai-access-gate/runner.py
Restart=always
RestartSec=10
TimeoutSec=infinity

[Install]
WantedBy=graphical.target