[Unit]
Description=My Program
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 ~/ai-access-gate/app.py

[Install]
WantedBy=multi-user.target
